// styles.scss

.dashboard {
  overflow-y: auto;

  .bar {
    height: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: unset;
    align-items: unset;
    padding: 0 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.37);
    
    > input {
      margin-right: auto;
      width: 100%;
      padding: 1rem 0;
    }
    
    > svg {
      font-size: 1.2rem;
      opacity: 0.7;
    }
    
    > img {
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
    }
  }

  .widget-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 2rem 2rem 2rem 0;

    .widget {
      width: 16rem;
      background-color: white;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.132);
      padding: 2rem;
      border-radius: 10px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: stretch;

      .widget-info {
        > p {
          opacity: 0.7;
          font-size: 0.8rem;
        }
        > h4 {
          font-size: 1.5rem;
        }
        > span {
          display: flex;
          flex-direction: row;
          justify-content: unset;
          align-items: center;
          gap: 0.2rem;
        }
      }

      .widget-circle {
        position: relative;
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        flex: none;
        display: grid;
        place-items: center;
        background-color: aquamarine;
        &::before {
          content: "";
          position: absolute;
          width: 4rem;
          height: 4rem;
          background-color: white;
          border-radius: 100%;
        }
        span {
          position: relative;
        }
      }
    }
  }

  .graph-container {
    display: flex;
    flex-direction: row;
    justify-content: unset;
    align-items: unset;
    gap: 2rem;
    padding: 0 2rem 2rem 0;
    > div {
      background-color: white;
      border-radius: 10px;
    }

    .dashboard-categories {
      width: 100%;
      max-width: 81rem;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: initial;
      > h2 {
        font-size: 1.5rem;
        font-weight: bold;
        margin: 1.5rem 0 2rem 0;
        text-align: center;
      }

      .list {
        .list-item {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 1rem;

          span {
            font-size: 1rem;
          }

          .button {
            cursor: pointer;
            background-color: #007bff;
            color: white;
            border: none;
            padding: 0.5rem 1rem;
            border-radius: 5px;
            transition: background-color 0.3s;

            &:hover {
              background-color: #0056b3;
            }
          }
        }
      }
    }
  }

  .transaction-container {
    display: flex;
    gap: 2rem;
    padding: 0 2rem 2rem 0;
    height: 30rem;

    > div {
      background-color: white;
      box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.132);
      border-radius: 10px;
    }
    .gender-chart {
      width: 100%;
      max-width: 20rem;
      padding: 1rem;
      position: relative;
      > h2 {
        text-align: center;
        margin: 1.5rem 0 2rem 0;
        font-size: 1.5rem;
        font-weight: bold;
      }
      > p {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 2rem;
        color: rgba(0, 0, 0, 0.634);
      }
    }

    .transaction-box {
      width: 100%;
      padding: 1rem;
      overflow-x: auto;
      > h2 {
        margin: 1.5rem 0 0 0;
        font-size: 1.5rem;
        font-weight: bold;
      }
    }
  }

  .popup {
    position: absolute;
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    border-radius: 8px;
    width: 415px;
    height: 309px;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);

    .close-button {
      background-color: red;
      color: white;
      border: none;
      padding: 5px 10px;
      border-radius: 3px;
      cursor: pointer;
      position: absolute;
      top: 10px;
      right: 10px;
    }

    .content {
      padding: 20px;
      text-align: center;
    }

    .button-container {
      display: flex;
      justify-content: space-between;
      position: absolute;
      bottom: 10px;
      left: 10px;
      right: 10px;
      padding: 0 10px;

      .accept-button {
        background-color: green;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        &:hover {
          background-color: darkgreen;
        }
      }

      .decline-button {
        background-color: red;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        &:hover {
          background-color: darkred;
        }
      }
    }
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
  }
}







